@import "var.scss";
@import "mixin.scss";
body {
    font: $font;
    margin: 0;
    @include special;
    @include border(5px);
}

.bg-odd {
    background-color: $odd;
}

.bg-even {
    background-color: $ever;
}

.movil {
    display: inherit;
}

.nomovil {
    display: none;
}

section {
    width: 100%;
    margin-top: 2.0em;
    padding-top: 2.5em;
}

.wrapper {
    width: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.main-nav {
    background-color: $nav;
    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        list-style: none;
        padding: 0;
        & li {
            a {
                display: block;
                padding: 10px;
                text-align: center;
                text-decoration: none;
                color: #fff;
                font-size: large;
                &:hover {
                    background-color: #777;
                }
            }
        }
    }
}

#section1 {
    text-align: center;
    margin-top: 0;
    .title {
        h1 {
            font-size: 3.0em;
            margin: 0;
        }
        .inf {
            font-size: 2.0em;
        }
        ul {
            display: flex;
            justify-content: center;
            list-style: none;
            li>a {
                text-decoration: none;
                color: #0070c9;
                padding: 1.0em;
                padding-left: 0;
                font-size: 1.4em;
            }
        }
        .img {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            img {
                padding: 2.0em;
            }
        }
    }
}

#section2 {
    text-align: center;    
    .title {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;        
        .prod {
            max-width: 30%;
            background-color: $odd;
            padding: 4.0em;
            .heading {
                font-size: 2.8em;
                margin: 0;
            }
            .inf {
                font-size: 2.0em;
            }
            ul {
                display: flex;
                justify-content: center;
                list-style: none;
                li>a {
                    text-decoration: none;
                    color: #0070c9;
                    padding: 1.0em;
                    padding-left: 0;
                    font-size: 1.4em;
                }
            }
        }
    }
}

#section3 {
    text-align: center;
    .title {
        .heading {
                font-size: 2.8em;
                margin: 0;
            }
        .inf {
            font-size: 2.0em;
        }
        ul {
            display: flex;
            justify-content: center;
            list-style: none;
            li>a {
                text-decoration: none;
                color: #0070c9;
                padding: 1.0em;
                padding-left: 0;
                font-size: 1.4em;
            }
        }
        .img {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            img {
                padding: 2.0em;
            }
        }
    }
}
#section4 {
    text-align: center;    
    .title {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;        
        .prod {
            max-width: 30%;
            background-color: $odd;
            padding: 4.0em;
            .heading {
                font-size: 2.8em;
                margin: 0;
            }
            p {                
                min-width: 320px;
                font-size: 17px;
                text-align: center;
            }
            ul {
                display: flex;
                justify-content: center;
                list-style: none;
                li>a {
                    text-decoration: none;
                    color: #0070c9;
                    padding: 1.0em;
                    padding-left: 0;
                    font-size: 1.4em;
                }
            }
        }
    }
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 768px) {
    .main-nav {
        background-color: $nav;
        .list {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            list-style: none;
            padding: 0;
            & li {
                flex-grow: 1;
                a {
                    display: block;
                    padding: 10px;
                    text-align: center;
                    text-decoration: none;
                    color: #fff;
                    &:hover {
                        background-color: #777;
                    }
                }
            }
        }
    }
    .movil {
        display: none;
    }
    .nomovil {
        display: inherit;
    }
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1024px) {}
